@import url("https://fonts.googleapis.com/css?family=Michroma&display=swap");

body {
  font-family: "Michroma", serif;
  font-weight: 700;
}

#game {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: blue;
  padding-top: 100px;
  padding-bottom: 100px;
}

#winner {
  font-size: 25px;
  color: red;
}
#zwek {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: rgb(6, 223, 6);
}
